html, body{
	background-color: RGB(139,208,197);
	height:100%;
	width:100%;
}

#pdf_display{
	float:left;
	width:70%; 
	height:100%; 
}
#commment{
	background-color: white;
	float:right;
	width:28%;
	margin-right: 0.5%;
	margin-top:0.5%;
	height:99%;
}
#message{
	height:50px;
	width:100%;

}
#send{
	background: rgb(46, 74, 53); 
	border: none; 
	color:white;
}
form {
	padding: 1px; 
	position: fixed; 
	bottom: 0; 
	width: 100%; 
}
